.container {
    height: 100vh;
}

.experience-bar {
    display: flex;
    align-items: center;
}

.experience-bar span{
    font-size: 1rem;
   
}

.experience-bar > div{
    font-size: 1rem; 
    flex: 1;
    height: 4px;
    border-radius: 4px; 
    background-color: var(--grayline);
    margin: 0 1.5rem;
    position: relative;
}

.experience-bar > div > div {
    height: 4px;
    border-radius: 4px;
    background-color: var(--green);
}

span.experience-bar {
    position: absolute;
    top: 12px;

}